@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* body {
  @apply flex flex-col min-h-screen;
} */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

section {
  padding: 6rem 0;
}

.btn {
  @apply bg-[#231f1e] text-white py-4 px-6 rounded cursor-pointer;
}
.btn:hover {
  @apply bg-[#231f1e]/80;
}

footer {
  margin-top: auto;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2rem;
  height: 100%;
}

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  gap: 2rem;
  align-items: stretch;
  margin: 0 auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 834px) {
  .grid,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-2.reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

.what-image {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.what-we-do-item {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin: 2rem 0;
}

.what-we-do-item h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (max-width: 834px) {
  .what-we-do-item {
    flex-direction: column;
    align-items: flex-start;
  }
}

.profile {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border-radius: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 75px;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: #4a4a4a;
  margin-bottom: 1.5rem;
}

.learn-more-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

.learn-more {
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.learn-more:hover {
  color: #1a4f8b;
  /* Darker blue color */
}

.section-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.kicker {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
}

.text-center {
  text-align: center;
}
